#quizPage {
    display: none;
}

#endPage {
    display: none;
}

#scorePage {
    display: none;
}

button:focus {
    box-shadow: none !important;
    background-color: transparent !important;
    color: #343a40 !important;
}